
body{
    min-height: 100vh;
    background:linear-gradient(#065c95, #d9fbfd);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

article{
    background-color:#065c95 ;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding: 25px;
    border-radius: 7px;
}

img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    color: #F0E6EF;
}

.Country{
    color: #F0E6EF;
    text-align: center;
}

p{
    text-align: center;
    color: #F0E6EF;
}

a{
    display: block;
    background-color: #fdd059;
    margin: 10px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    color: #065c95;
    padding: 10px;
}
footer{
    color: #d9fbfd;
}
